.tipwords{text-align: center;}
.shop_cart_icon{width: 1rem;height: 1rem;border-radius: 50%;display: flex;align-items: center;background-color: #eee;justify-content: center;margin-left: 0.3rem;}
.popCart{bottom:84px;}
.cart-content{ padding: 0 16px 100px;}
