#my{background-color:#F6F6F6;min-height: 100vh;padding: 0.3rem;}
.baseinfo{display:flex;width:100%;}
.baseinfo-icon{flex:2;}
.baseinfo-profile{flex:4;text-align: left;}
.baseinfo-title{font-size:0.5rem;}
.baseinfo-desc{font-size:0.15rem;padding: 0.1rem;}